/* MAIN STYLE SHEET - CLOSEOUTCENTRAL.COM */

/* TABLE OF CONTENTS
*  ------------------------------------
*  BASE TAG STYLES
*    - Font Styles (*, HTML, Body)
*    - Link Colors
*    - Other Base Tags (H1, H2, H3, H4, p, strong)
*  CLASSES and IDS
*    - Utilities
*    - Font Sizes
*    - Font Weights
*    - Font-Awesome Styles
*    - Font Colors
*    - Background Colors
*    - Border Colors
*    - Header Section
*    - Sitewide Styles
*    - FLEX-FORM
*    - Buttons
*    - Input Style Atributes
*    - Home Page Styles
*    - Footer Styles
*/

/* =====================================
   #BASE TAG STYLES
======================================== */
* {box-sizing: border-box;}

/* Font Styles
   Set font size to 62.5% so: .9em = 9px, 1em = 10px etc.
-------------------------------------------------- */
html {
  font-size: 62.5%; /* 3 */
/* -ms-text-size-adjust: 62.5%;
   -webkit-text-size-adjust: 62.5%; */
}

body {
	font-size: 1.5rem;
	line-height: 1.4em;
	font-weight: 400;
	font-family: 'Open Sans', Tahoma, Verdana, sans-serif; /* 1 */
	color: #505050;
}

/* Link colors
-------------------------------------------------- */
a:link { color: #0197ca; text-decoration: none;}
a:visited { color: #0197ca;}
a:hover { color: #4e6b6d; text-decoration: underline;}
a:active { color: #0197ca;}

/* Other Base Tags
-------------------------------------------------- */
h1 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.0rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.9rem;
    margin-bottom: 4px;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    margin-bottom: 0;
}

p {padding-top: 15px;}

strong {font-weight: 600;}

/* ====================================
   #CLASSES and IDS
======================================= */

/* Utilities
--------------------------------------------------- */
.center { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.no-wrap {white-space: nowrap;}
.float-left {float: left;}
.float-right {float: right;}
.align-right {text-align: right;}

.full-wrapper {width:100%;}
.round-image {border-radius:50%;}
.center-element {margin-left:auto; margin-right:auto;}

/* Smaller than mobile */
@media (max-width: 550px) {
   .mobile-center {text-align:center;}
   
  .media-box-content.media-box-2col {
    padding: 20px 12px 12px 12px;
  }
}

/* UNORDERED LISTS */
.ul-default {
    display: block;
    list-style-position: outside;
    list-style-type:disc;
    padding-left: 20px;
    padding-top: 6px;
}

.ul-default li {
    padding-bottom: 5px;
}

/* FONT SIZES
-------------------------------------------- */
.text9 {font-size:9px; font-size:.9rem; line-height:150%;}
.text10 {font-size:10px; font-size:1rem; line-height:150%;}
.text12 {font-size:12px; font-size:1.2rem; line-height:150%;}
.text14 {font-size:14px; font-size:1.4rem; line-height:150%;}
.text16 {font-size:16px; font-size:1.6rem; line-height:150%;}
.text18 {font-size:18px; font-size: 1.8rem; line-height:150%;}
.text21 {font-size:21px; font-size: 2.1rem; line-height:150%;}
.text24 {font-size:24px;font-size: 2.4rem; line-height:150%;}

/* FONT WEIGHTS
-------------------------------------------- */
.weight400 {font-weight:400;}
.weight400ital {font-weight:400; font-style:italic;}
.weight600 {font-weight:600;}
.weight700 {font-weight:700;}
.weight800 {font-weight:800;}

/* FONT-AWESOME STYLES
------------------------------------- */
.fa {color: #4e6b6d;}

/* FONT COLORS
-------------------------------------------- */
.dk-purple {color: #4e53a3;}
.lt-purple {color: #7a77b5;}
.dk-blue {color: #134c69;}
.lt-blue {color: #537c91;}
.dk-gray {color: #505050;}
.md-gray {color: #DDD;}
.white {color:#FFF;}
.black {color:#000;}
.red {color: red;}

/* BACKGROUND COLORS
------------------------------------- */
.bg-light-grey { background-color: #f4f4f4;}
.bg-dark-blue {background-color: #0197ca;}
.bg-light-blue {background-color: #eff3f5;}
.bg-lightest-blue {background-color: #eff3f5;}
.bg-yellow-gold {background-color: #ffc857;}
.bg-light-yellow-gold {background-color: #fff5e0;}

/* BORDER COLORS
------------------------------------- */
.bord-dark-blue {border: 1px solid #134c69;}
.bord-light-blue {border: 1px solid #537c91;}
.bord-lightest-blue {border: 1px solid  #eff3f5;}
.bord-dark-gray {border: 1px solid #d1d1d1;}
.bord-dark-yellow-gold {border: 1px solid #e8be5d;}

/* Head Section 
------------------------ */
.head-section {padding: 12px 0 4px 0; border-bottom: solid 2px #4e6b6d;}
.head-section .u-spacer {display:none;}
.head-nav-mobile {display:none;}
.head-logo {
    display: inline-block;
    vertical-align: middle;
    width: 21%;
}
.head-logo a {border-bottom: 0;}

.head-calls-to-action {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 79%;
}
.head-calls-to-action a {
    font-size:1.8rem;
    font-weight:700;
}
.head-calls-to-action a:hover {
     text-decoration: none;
}
.head-buyer-sign-up {margin-right: 15px;}

/* MEDIA QUERIES - head section */
@media (max-width: 800px) {
   
   .head-nav-mobile {display:inline-block; vertical-align: middle;  width:15%;}
   #hamburger-stack {font-size: 2.4rem;}
   #hamburger-stack a {border-bottom: 0;}

   .head-logo {width: 70%; text-align: center;}
   .head-calls-to-action {display:none;}
}

/* MEDIA QUERIES - header section 2 */
@media (min-width: 801px) {
	.nav-collapse {display: none !important;}
}
@media (max-width: 800px) {
 #mobile-menu {
		padding-bottom: 0px;   
        background: #fff;
  }
  .nav-collapse li {
    	background-color: #537c91;    	
    	margin-bottom: 1px;
    	padding: 12px 12px;
    }
    .nav-collapse li:hover {
    	background-color: #134c69;
    }     
    .nav-collapse li a { 
    	color: #fff;
    	display: block;
    	text-decoration: none;
        border-bottom: 0;
    }       
}

/* SITEWIDE STYLES
----------------------------------------------------- */
.hero-text-column {padding:20px 0 0 12px;}

/* Smaller than mobile */
@media (max-width: 550px) {
   .hero-text-column {padding:6px 12px 12px 12px;}
}

.section-header {
   width:100%;
   margin:10px 0;
   padding:10px 0;
   text-align:center;
   color:#fff;
   font-size:2rem;
}

.tb-padding-20 {padding-top:20px; padding-bottom:20px;}
.tb-padding-10 {padding-top:10px; padding-bottom:10px;}

.media-box-content {
   border:solid 1px #ddd;
   padding: 20px 12px 12px 12px;
}

.media-box-content.media-box-2col {
  padding: 20px 22px 12px 22px;
}


.media-box-content img {margin-left:auto; margin-right:auto;}
.media-box-content p {font-size:1.4rem;}
.media-box-content h2 {text-align:center;}

@media (max-width: 550px) {
  .media-box {margin-bottom:10px;}
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Forms */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* FLEX-FORM
-----------------------------------------*/
.flex-form {
  background-color: #efefef;
  border: 1px solid #e5e5e5;
  overflow: auto;
  padding: 15px;
}

.flex-form fieldset {
  border: none;
  margin-bottom:10px;
  margin-top: 30px;
}

.flex-form fieldset:nth-child(1){
	margin-top: 0;
}

.flex-form legend {
  display: block;
  font-weight: 600;
  margin-bottom: 15px;
}

.flex-form label {
  font-size: .92em;
  padding: 8px 0 4px 0;
  display: block;  
}

.flex-form input {
  padding: 5px;  
  width: 100%;
  min-height: 25px;  
}

.flex-form select {
  padding: 3px 5px;  
  width: 100%;
  min-height: 25px;  
}

.flex-form input:focus,
.flex-form textarea:focus,
.flex-form select:focus  {
  box-shadow: 0 0 5px rgba(0, 84, 165, .35);
  transition: all 0.3s;
}

.flex-form textarea {
  padding: 5px;  
  width: 100%;
  min-height: 70px;
  resize: vertical;
  border: 1px solid #D1D1D1;    
}

.flex-form h4 {
  margin-top: 0;
  margin-bottom: 8px;
}

.flex-form button {cursor: pointer;}

/* Input type attributes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flex-form input[type="color"],
.flex-form input[type="file"],
.flex-form input[type="image"],
.flex-form input[type="range"] {
  border: none;
  display: inline;
}

.flex-form input[type="date"],
.flex-form input[type="datetime"],
.flex-form input[type="datetime-local"],
.flex-form input[type="email"],
.flex-form input[type="month"],
.flex-form input[type="number"],
.flex-form input[type="password"],
.flex-form input[type="search"],
.flex-form input[type="tel"],
.flex-form input[type="text"],
.flex-form input[type="time"],
.flex-form input[type="url"], 
.flex-form input[type="week"],
.flex-form select {
    border: 1px solid #D1D1D1;
    font: inherit;
    line-height: inherit;
}

.flex-form select {
  /* SVG background image */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23505050'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 5px) 65%;
  background-repeat: no-repeat;
  background-color: #fff;
}

.flex-form option {
    font: inherit;
    line-height: inherit;  
}

.flex-form input[type="color"],
.flex-form input[type="image"],
.flex-form input[type="range"] {
  padding: 0;
}

.flex-form input[type="submit"], 
.flex-form input[type="reset"],
.flex-form input[type="button"] {
  width: auto;
  margin-top: 10px;
  cursor: pointer;
}

.flex-form input[type="color"] {width: 27px;}

/* float radio button labels next to the field */

.flex-form input[type="radio"],
.flex-form label.radio,
.flex-form input[type="checkbox"],
.flex-form label.checkbox {
   display: inline-block;
   width: auto;
   vertical-align: middle;
}

.flex-form input[type="radio"],
.flex-form input[type="checkbox"] {
   margin: 0 3px 0 0;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
select,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
}

/* BUTTONS
----------------------------------*/
.button {
   background-color: transparent;
   border: 1px solid #000;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   color: #000;
   cursor: pointer;
   display: inline-block;
   font-family: inherit;
   font-size: inherit;
   font-weight: 600;
   line-height: inherit;
   margin: 2px;
   outline: none;
   padding: 6px 10px;
   text-align: center;
   text-shadow: none;
   vertical-align: bottom;
   zoom: 1;
   -webkit-appearance: none;
    -moz-appearance: none;
}

.flex-form .button {margin-top: 15px;}

a.button, button.button {text-decoration:none;}
a.button:link { color: #000; text-decoration: none;}
a.button:visited { color: #000;}
a.button:active { color: #000;}

.button:hover, a.button:hover { background-color: #ddd; color: #000; text-decoration: none;}

/* Button Sizes
------------------------ */
.btn-xsmall, a.btn-xsmall {font-size: .6em; padding:5px 8px; line-height:12px;}
.btn-small, a.btn-small {font-size: .8em; padding: 6px 10px; line-height:16px;}
.btn-medium, a.btn-medium {font-size: 1em; padding: 8px 14px; line-height:18px;}
.btn-large, a.btn-large {font-size: 1.2em; padding: 10px 14px; line-height:22px;}
.btn-xlarge, a.btn-xlarge {font-size: 1.4em; padding: 10px 16px; line-height:24px;}
.btn-full, a.btn-full { display: block; margin: 2px auto; width: 85%;}

/* Gray Button Color
------------------------ */
.btn-gray, 
a.btn-gray,
button.btn-gray,
input[type="submit"].btn-gray,
input[type="reset"].btn-gray,
input[type="button"].btn-gray {
   background-color: #ccc;
   border-color: #aaa;
   color: #000;
}

a.btn-gray:link { color: #000; text-decoration: none;}
a.btn-gray:visited { color: #000;}
a.btn-gray:active { color: #000;}

.btn-gray:hover,
a.btn-gray:hover,
button.btn-gray:hover,
input[type="submit"].btn-gray:hover,
input[type="reset"].btn-gray:hover,
input[type="button"].btn-gray:hover {
  background-color: #aaa; 
  color: #000; 
  text-decoration: none
}

/* Dark Blue Button Color
------------------------ */
.btn-dk-blue, 
a.btn-dk-blue,
button.btn-dk-blue,
input[type="submit"].btn-dk-purple,
input[type="reset"].btn-dk-purple,
input[type="button"].btn-dk-purple {
   background-color: #134c69;
   border-color: #134c69;
   color: #fff;
}

a.btn-dk-blue:link { color: #fff; text-decoration: none;}
a.btn-dk-blue:visited { color: #fff;}
a.btn-dk-blue:active { color: #fff;}

.btn-dk-blue:hover,
a.btn-dk-blue:hover,
button.btn-dk-blue:hover,
input[type="submit"].btn-dk-blue:hover,
input[type="reset"].btn-dk-blue:hover,
input[type="button"].btn-dk-blue:hover {
  background-color: #537c91; 
  border-color: #134c69; 
  color: #fff;
  text-decoration: none;
}

/* Light Blue Button Color
------------------------ */
.btn-light-blue, 
a.btn-light-blue,
button.btn-light-blue,
input[type="submit"].btn-light-blue,
input[type="reset"].btn-light-blue,
input[type="button"].btn-light-blue {
   background: #537c91;
   border-color: #134c69;
   color: #fff;
}

a.btn-light-blue:link { color: #fff; text-decoration: none;}
a.btn-light-blue:visited { color: #fff;}
a.btn-light-blue:active { color: #fff;}

.btn-light-blue:hover,
a.btn-light-blue:hover,
button.btn-light-blue:hover,
input[type="submit"].btn-light-blue:hover,
input[type="reset"].btn-light-blue:hover,
input[type="button"].btn-light-blue:hover {
  background: #134c69;  
  border-color: #134c69;
  color: #fff; 
  text-decoration: none;
}

/* ------------------------------------
FOOTER STYLES
------------------------------------- */

#footer-main a:link { color: #537c91; text-decoration: none;}
#footer-main a:visited { color: #537c91;}
#footer-main a:hover { color: #134c69;}
#footer-main a:active { color: #537c91;}

#footer-main {
    background-color: #eff3f5;
    border-bottom: 1px solid #dfe7eb;
    border-top: 1px solid #dfe7eb;
    padding: 20px 0;
}

#footer-main div,
#footer-main p {
	text-align: center;
	font-size: 1.25rem;
}

#footer-main a {
	white-space: nowrap;
}